* {
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-family: MesloLGS NF;
    font-size: 13px;
    padding: 3px;
}

window#waybar {
    color: #F8F9F2;
    background-color: rgba(0,0,0,0);
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
    background-color: rgba(0,0,0, 0.55);
    border-radius: 15px;
}


#workspaces button {
    padding: 0 5px; 
    background: none;
    background-color: transparent;
    color: #fff; 
}

#workspaces button:hover {
    background: none;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #000000;
}

#window,
#workspaces {
    margin: 0 4px;
}

#workspaces {
	padding: 0;
}

#workspaces.button {
	margin: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #fff;
}

#battery {
    color: #fff;
}

#battery.charging, #battery.plugged {
    color: #eff542;
}


#battery.critical {
    animation: blink 1s infinite linear alternate;
}

@keyframes blink {
    from {
        color: #dee8f4;
    }
    50% {
       color: #eb4d4b;
    }
    to{
        color: #dee8f4;
    }
}



label:focus {
    background-color: #000000;
}

#cpu {
    color: #fff;
}

#memory {
    color: #fff;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    color: #fff;
}

#network.disconnected {
    background-color: #e95f4a;
}

#pulseaudio {
    color: #fff;
}

#pulseaudio.muted {
    background-color: #ab915c;
    color: #000000;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    color: #fff;
}

#temperature.critical {
    background-color: #e95f4a;
}

#tray {
    background-color: #dee8f4;
    color: #000000;
}
/* 
#tray > .passive {
    -gtk-icon-effect: dim;
    color: #000000;
    font-weight: normal;
} */

/* #tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
} */

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
